@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&display=swap');

.container-singolo{
    border-bottom: 1px solid black;
}

header nav{
    top: 0;
    left: 0;
    right: 0;
}

.container-header-right{
    left: 500px;
    width: 50%;
}